<ion-view view-title="Chiens">
  <ion-content>

    <ion-list>
      <ion-item
        ng-repeat="chat in chats | orderBy:'-lastMessage.timestamp'"
        class="item-chat item-remove-animate item-avatar item-icon item-icon-right"
        type="item-text-wrap"
        href="#/tab/chats/{{chat._id}}">
        <img ng-src="{{chat.picture}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastMessage.text}}</p>
        <span class="last-message-timestamp">{{chat.lastMessage.timestamp | calendar}}</span>
        <i class="icon icon-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          bye
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
